.card {
  border-radius: 15px;
  background: rgba(29, 80, 75, 0.098);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -20%;
  left: -20%;
  border-radius: 0% 167% 0% 159%;
  border: 35px solid rgb(49, 172, 0);
  transition: all 0.8s ease;
  filter: blur(0.5rem);
}

.text {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 1.2em;
}

.subtitle {
  font-size: 0.6em;
  font-weight: 300;
  color: rgb(37, 194, 160);
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -10%;
  left: 60%;
  filter: blur(0rem);
}
