/* Container for checkbox and button */
.button-menu {
  cursor: pointer;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  width: 35px;
  height: 40px;
  box-shadow: 0px 3px 10px 0px rgba(16, 16, 16, 0.5);
}

/* Hidden checkbox */
.checkbox {
  width: 60px;
  height: 60px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  position: relative;
}

/* Option button */
.option {
  position: absolute;
  right: 2;
  z-index: -1;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
  opacity: 0;
  transform: scale(0.1) translateX(10px);
  pointer-events: none; /* Disable interaction when hidden */
}

/* Option shows when checkbox is checked */
.checkbox:checked ~ .option {
  opacity: 1;
  transform: scale(1) translateX(-50px); /* Adjust transform as needed */
  pointer-events: auto; /* Enable interaction */
}

/* Option hides when checkbox is unchecked */
.checkbox:not(:checked) ~ .option {
  opacity: 0;
  transform: scale(0.1) translateX(100px);
  pointer-events: none;
}

.checkbox:checked ~ .option-b {
  transition-delay: 0.2s;
  transform: translateY(-65px) translateX(-100px);
}
/* Option animation on hover or active state */
.option:hover,
.option:active,
.option:focus {
  box-shadow: none;
  transform: scale(0.98);
}
